<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    {{!-- Materialize Icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    {{!-- Google Font --}}
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <!-- tab icon -->
    <link rel="shortcut icon" href="#" />
    <title>Scraper News Network</title>
</head>

<body>

    {{> nav/_navbar}}

    <main>
        <div class="container">
            {{{ body }}}
        </div>
    </main>

    {{> _footer}}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
<html>