<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Read the latest from 'The Verge'</a>
        
        
        
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
            
        </ul>
    </div>
</nav>